allow init debugfs:dir { mounton relabelto };
allow init firmware_file:dir { mounton };
allow init sysfs:filesystem { associate };
allow init fpc_socket:sock_file create_file_perms;
domain_trans(init, rootfs, gx_fpd)
